.zoom-in-out-box {

  /* height: 10px; */
  /* background: #10f500; */
  animation: zoom-in-zoom-out 5s ease;

}

@keyframes zoom-in-zoom-out {
  100% {
    transform: scale(0.5, 0.5);
  }

  0% {
    transform: scale(1, 1);
  }

}




.hidden {
  display: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}


/* document.getElementById("controls").classList.add("hidden") */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.fade-in {
  display: none;
  animation: fadeIn 2s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 2s ease-in-out forwards;
}

.fade-in.show {
  display: block;
}

.navbar-brand {
  position: relative;
  /* background: url(../images/ishop_logo_wall.png); */
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  width: 10rem;
  height: 3rem;
  ;
  /* top:5px; */
  left: 15px;

  background-size: contain;
}


.color-1 {
  background-color: coral;
}

.color-2 {
  background-color: transparent;
}